@import '../../scss/global-styles';

.category-filter {
  margin: 40px 0 40px;
}

.filter__input {
  > label {
    margin-bottom: 10px;
    display: block;
  }

  .input__checkbox {
    margin-bottom: 5px;
  }
}
