$green: #52b25e;
$gray-dark: #494949;
$gray-light: #afafaf;
$gray-extra-light: #eee;
$white: #ffffff;
$red: #e6706a;

:export {
  green: $green;
  gray_dark: $gray-dark;
  gray_light: $gray-light;
  gray-extra-light: $gray-extra-light;
  white: $white;
  red: $red;
}
