@import '../../scss/global-styles';

.btn {
  background-color: $green;
  color: $white;
  font-weight: 600;
  padding: 10px 15px;
  font-size: 14px;
  outline: 0;
  border: none;
  cursor: pointer;
  text-decoration: none;
  opacity: 0.85;

  &:hover {
    opacity: 1;
  }

  &:not(:first-of-type) {
    margin-left: 1em;
  }

  svg {
    margin-right: 10px;
  }
}
button[disabled].btn {
  opacity: 0.5;
  cursor: not-allowed;
}
