@import "../../scss/global-styles";

.btn {
  background-color: $green;
  color: $white;
  font-weight: 600;
  padding: 10px 15px;
  font-size: 14px;
  outline: 0;
  border: none;
  cursor: pointer;
  margin-bottom: 30px;

  &:not(:first-of-type) {
    margin-left: 1em;
  }
}
button[disabled].btn {
  opacity: 0.5;
  cursor: not-allowed;
}
