$green: #52B25E;
$gray-dark: #494949;
$gray-light: #AFAFAF;
$white: #ffffff;

.App {
  font-family: 'Poppins', sans-serif;
  color: #494949;
}

.wrapper {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

.all-bistums {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 0.25em;
  margin-top: 0;
}

h2 {
  margin-bottom: 0.25em;
  margin-top: 0;
}

.choose-entry {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.maps {
  display: flex;
  flex-direction: row;
  width: 75%;
}

.grid {
  display: flex;
  flex-flow: row wrap;
}

.col {
  flex-basis: 100%;
}

@function get-col-percent($column-num) {
  @return $column-num / 12 * 100%;
}

@function get-offset-percent($offsetnum) {
  @return $offsetnum / 12 * 100%;
}

@for $i from 1 through 12 {
  .col-lg-#{$i} {
    @media only screen and (min-width: 769px) {
      flex-basis: calc(#{get-col-percent($i)} - 20px);
      max-width: calc(#{get-col-percent($i)} - 20px);
      padding: 0 10px;
    }
  }

  .col-lg-offset-#{$i} {
    @media only screen and (min-width: 769px) {
      margin-left: get-offset-percent($i);
    }
  }
}
