@import "../../scss/global-styles";

.card {
  background-color: $white;
  box-shadow: 0 1px 8px -1px rgba(0, 0, 0, 0.5);
  padding: 20px 15px;
  position: relative;

  &__category {
    background-color: $green;
    color: #ffffff;
    padding: 5px 15px;
    font-weight: 600;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 14px;
  }

  &__community {
    font-weight: 700;
    color: $gray-light;
    font-size: 12px;
  }

  &__title {
    font-weight: 600;
    font-size: 24px;
  }

  &__description {
    font-weight: 300;
    font-size: 14px;
  }

  &__action {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
