@import '../../scss/global-styles';
@import '../../scss/colors';

.text-input,
.date-input,
.date-time-input {
  position: relative;

  label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  input,
  textarea {
    width: 100%;
    border: 1px solid $gray-light;
    border-radius: 4px;
    @include font-size(16px);
    @include line-height(27px);
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

    &:focus {
      border-color: $green;
      box-shadow: none;
      outline: none;
    }
  }

  button[type='reset'] {
    position: absolute;
    right: 8px;
    bottom: 9px;
    border-radius: 50%;
    height: 22px;
    background: transparent;
    color: $green;
    padding: 0;
    display: flex;
    justify-content: center;
    border-color: transparent;

    &:focus,
    &:active {
      outline: none;
    }

    svg {
      width: 15px;
      height: 15px;
    }
  }
}

.date-input {
  label {
    display: inline-block;
    &:nth-child(1) {
      width: 66%;
    }
    &:nth-child(2) {
      width: 34%;
    }
  }
  input {
    display: inline-block;
  }

  input[type='date'] {
    display: inline-block;
    width: 60%;
    margin-right: 6%;
  }

  input[type='time'] {
    width: 34%;
  }
}
