@import '../../scss/global-styles';

.text-input,
.date-input {
  margin-bottom: 30px;

  label {
    display: block;
    width: 100%;
    margin-bottom: 10px;
  }

  input,
  textarea {
    width: 100%;
    border: 1px solid $gray-light;
    border-radius: 4px;
    @include font-size(16px);
    @include line-height(27px);
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;

    &:focus {
      border-color: $green;
      box-shadow: none;
      outline: none;
    }
  }
}

.date-input {
  input {
    display: inline-block;
  }

  input[type='date'] {
    display: inline-block;
    width: 60%;
    margin-right: 6%;
  }

  input[type='time'] {
    width: 33%;
  }
}
